 <!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />


<head>
    <meta charset="UTF-8">
    <title>HOPE</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>
    <style>

        .center-container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .container{
            max-width:500px;
        }

        .img-fluid {
            max-width: 50%;
            height: auto;
        }

        h1{
            text-align:center;
        }

        .card{
            text-align: center;
            align-items: center;
            margin : auto;
        }

        ol{
          font-size: 20px ;
          text-align: left;
        }

        p{
            font-size: 25px;
        }

        .navbar-nav .nav-item {
            margin-left: 150px; /* Adjust the margin as needed */
            color:White;
        }
      

        /* Add the fixed-top class to make the navigation bar fixed at the top */
        .navbar.fixed-top {
            position: fixed;
            top: 0;
            width: 100%;
        }
        .ftco-section {
          padding: 2em 0; }
           /* Add custom CSS for the navbar */
        .navbar {
            background-color: #1c2938; /* Black background color */
        }

        .navbar-brand {
            color: #fff; /* White text color for the brand/logo */
        }

        .navbar-toggler {
            background-color: #fff; /* White background color for the toggler button */
        }

        .navbar-nav {
            margin-right: auto; /* Align the navbar items to the right */
        }

        .nav-item {
            padding: 0 15px; /* Add spacing between navbar items */
        }

        .nav-link {
            color: #ffffff !important; /* White text color for navbar links */
        }

        h2{
          text-align: center;
        }
    </style>
    <meta charset="UTF-8" />
  <link rel="stylesheet" href="static/style.css" />
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">

<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="static/style.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">



</head>
<body>
    
  <section class="ftco-section">
    <div class="container">
        <!-- Add the fixed-top class to make the navigation bar fixed at the top -->
        <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-dark fixed-top" id="ftco-navbar">
            <div class="container">
               
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                        aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span> Menu
                </button>
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item" style="margin-right: -20px"><a href="/" class="nav-link">Home</a></li>
                        <li class="nav-item" style="margin-right: -20px"><a href="/repository" class="nav-link">Admin Center</a></li>
                        <li class="nav-item" style="margin-right: -20px"><a href="#" class="nav-link">Diagnosis</a></li>
                     <!--   <li class="nav-item" style="margin-right: -20px"><a href="/faq" class="nav-link">FAQ</a></li>-->
                        <li class="nav-item" style="margin-right: -20px"><a href="/" class="nav-link">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- END nav -->
</section>
<div class="container">
  <h1 style="padding-right: 825px;">Information Highway for Doctors</h1>  <br><br><br>
  <h2></h2><br><br><br>

  <div class="row" style="width: 300px;">
        <!-- Card 1: Upload Document -->
        <div class="card">
            <div class="card-body">
                
                <h5 class="card-title">Upload Medical Document</h5>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal1">
                    Upload Medical Document
                </button>
            </div>
        </div>
    </div>
    <br>
    <div class="row" style="width: 300px;">
    
        <!-- Card 2: Extract Document Information -->
        <div class="card">
            <div class="card-body">
                <form action="/viewdocs" method="POST" enctype="multipart/form-data">
                <h5 class="card-title">View Documents</h5>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal2">
                  View Documents
                </button>
            </form>
            </div>
        </div>
    
</div>
<!--<div class="row" style="width: 300px;">
    
        <!-- Card 3: Extract Document Information 
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Extract Document Information</h5>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal2">
                  Extract Document Information
                </button>
            </div>
        </div>
    
</div> -->

    <div class="chatbox">
        <div class="chatbox__button">
            <button><img src="{{ url_for('static', filename='images/message.jpg') }}" style="width: 60px; height:50px;"/></button>
        </div>
        <div class="chatbox__support  chatbox--active">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="{{ url_for('static', filename='images/chatbot.png') }}" alt="image" style="width: 45px; border-radius: 50px;">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Diagnosis checker </h4>
                    <p class="chatbox__description--header">Hello, Enter symptoms and get a list of potential diagnosis</p>
                </div>
            </div>  
            <div class="chatbox__messages">
                <div>
                  <div class="messages__item messages__item--visitor">How may i help you?</div>                
                </div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
               <!-- <button class="chatbox__send--footer query__button">Send</button> -->
            </div>
        </div>
    </div>
    
  
    <div class="modal fade" id="updateModal1" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLabel1">Upload Document</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="data-container">
                 <form id ="uploadForm" action="/diagnosis" method="POST">
                   <!-- <h4><center>Upload File</center></h4>
                    <div class="modal-body">
                      <input type="hidden" id="api_type" name="api_type" value="upload_file" />
                      <div class="mb-3">
                      <label for="file_content" class="form-label">File Content:</label>
                      <input type="textarea" class="form-control" id="file_content" name="file_content" placeholder="Enter file content" />
                      </div>
                    
                    
                      <div class="mb-3">
                      <label for="content_type" class="form-label">Content Type:</label>
                      <input
                        type="text" class="form-control" id="content_type" name="content_type" placeholder="Enter content type"
                      />
                  </div> 
                    </div>
                   <h1></h1>
                   <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary btn-block" id="uploadform1">Submit</button>
                  </div> -->
                    
                    </div>
                  </form>
                  <form
                    action="/upload" method="POST" enctype="multipart/form-data">
                    <div class="mb-3" style="padding-left: 30px; padding-top: 20px;">
                        <input type="hidden" id="api_type" name="api_type" value="upload_file" />
                        <input type="file" name="files" , multiple="true"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary btn-block" id="uploadform1">Submit</button>
                    
                   <!-- <input type="submit" />-->
                </div>
                </form>
                </div>
                
            </div>
        </div>
    </div>
  
    <!-- Modal for Extract Document Information -->
    <div class="modal fade" id="updateModal2" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel2" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="updateModalLabel2">Extract Document Information</h5>
                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="data-container">
                <form id ="extractForm" action="/diagnosis" method="POST">
                  <h4><center>Extract Document Information</center></h4>
                  <div class="modal-body">
                    <input type="hidden" id="api_type" name="api_type" value="extract_file" />
                    <div class="mb-3">
                    <label for="file_content" class="form-label">File Id:</label>
                    <input type="textarea" class="form-control" id="file_content" name="file_content" placeholder="Enter file id" />
                    </div>
                  
                  </div>
                  <h1></h1>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-block" id="extractform1">Submit</button>
                </div>              
                  </div>
                </form>
              </div>
              
          </div>
      </div>
  </div>
  
</div>

<!-- Include Bootstrap JS links -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script>
 $SCRIPT_ROOT = {{request.script_root|tojson }};
</script>

<br><br><br><br><br><br><br><br><br>




<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
<!--<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>-->
</body>
</html>